.container-content2 {
    background-color: rgb(237, 234, 234);
    padding: 15px;
    border-bottom-right-radius: 5px; /* Add border-radius for rounded corners */
    border-bottom-left-radius: 5px;
    margin-bottom: 1%;
    width: 100%;
    height: inherit;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    margin-left: 16px;
    margin-right: 16px;
  }
.container-content3 {
    background-color: rgb(237, 234, 234);
    padding: 15px;
    border-bottom-right-radius: 5px; /* Add border-radius for rounded corners */
    border-bottom-left-radius: 5px;
    margin-bottom: 1%;
    width: 100%;
    height: inherit;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  }

  .Addbutton {
    height: 40px;
    padding: 5px 20px;
    width: 150px;
    margin-top: 25px;
    background-color: white;
    color: white;
    border: 2px solid rgb(171, 196, 245); /* Change border style to solid orange */
    color: rgb(18, 18, 17);
    border-radius: 4px;
    cursor: pointer;
  }